<mat-card-header>
  <div *ngIf="launch.links.mission_patch_small " class="div-img">
    <img  src="{{ launch.links.mission_patch_small }}" mat-card-avatar class="example-header-image">
  </div>
  <div *ngIf="!launch.links.mission_patch_small " class="div-img">
    <img  src="/assets/img/fusee.png" mat-card-avatar class="example-header-image">
  </div>
  <mat-card-title>{{launch.mission_name}}</mat-card-title>
  <mat-card-subtitle>
    {{ launch.launch_date_utc | date:'yyyy-MM-dd, hh:mm' }}<br>
    <div class="buttonLaunch">
      <mat-chip *ngIf="launch.launch_success == true" class="launchSuccess">Success</mat-chip>
      <mat-chip *ngIf="launch.launch_success == false" class="launchFailed">Failed</mat-chip>
    </div>
  </mat-card-subtitle>
</mat-card-header>
<div>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'fit-content'">
    <p>Mission : {{ launch.mission_name }}</p>
    <p>Launch site : <a href="/launchpadData/{{launch.launch_site.site_id}}">{{ launch.launch_site.site_name_long }}</a></p>
    <p>Rocket : <a href="/rocketData/{{launch.rocket.rocket_id}}">{{ launch.rocket.rocket_name }}</a></p>
    <p class="details" *ngIf="launch.details">Description : {{launch.details}}</p>
    <p class="details" *ngIf="!launch.details">This launch doesn't have a description.</p>
    <div *ngIf="launch.rocket.second_stage.payloads" >
        <p>Payloads :</p>
        <ul *ngFor="let payload of launch.rocket.second_stage.payloads">
          <li *ngIf="payload.cap_serial"><a href="/detailedCapsuleData/{{payload.cap_serial}}">{{ payload.payload_id }}</a></li>
          <li *ngIf="!payload.cap_serial">{{ payload.payload_id }}</li>
        </ul>
      </div>
    <div *ngIf="launch.rocket.first_stage.cores" >
      <p>Core :</p>
      <ul *ngFor="let core of launch.rocket.first_stage.cores">
        <li><a href="/detailedCoreData/{{core.core_serial}}">{{ core.core_serial }}</a></li>
      </ul>
    </div>
  
    <a href="{{ launch.links.article_link }}" class="externalButton" color="primary" mat-button>Article</a>
    <a href="{{ launch.links.video_link}}" class="externalButton" color="warn" mat-button>Video</a>
    <!-- <button mat-button color="accent"></button><a href="{{ launch.links.video_link }}">Video</a></button> -->
  </mat-card-content>
</div>