.mat-toolbar.mat-accent{
    background-color: #6b59ce;
}

.container {
    width: 100%;
    height: 100%;
}

.sidenav-content {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 20px;
    background-image: url("/assets/img/fh_hangar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mat-drawer {
    padding: 0;
}

.home {
    color: white;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 50px;
}

.home:hover {
    color: #CCC;
}
