<mat-drawer-container class="container" autosize>
  <mat-toolbar color="accent">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="home" mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
      <img src="../assets/img/logo_spacex.png" alt="">
    <!-- <span>SpaceX</span> -->
  </mat-toolbar>
  <mat-drawer #drawer class="sidenav" mode="push">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems" routerLink="{{item.path}}">
        <a matline routerLinkActive="active">{{item.name}}</a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>