.example-card {
    width: 390px;
    min-height: 220px;
    float: left;
    height: fit-content;
    margin-right: 25px;
    margin: 20px auto;
    padding-bottom: 0;
  }

  .example-card {
    width: 390px;
    min-height: 220px;
    float: left;
    height: fit-content;
    margin-right: 25px;
    margin: 20px auto;
    padding-bottom: 0;
  }

  mat-card.example-card.mat-card.ng-star-inserted {
    background-color: #fff;
    color: #000;
  }

  mat-card.example-card.mat-card.ng-star-inserted {
    border-radius: 5px;
    border-top: 5px solid deepskyblue;
  }

.flex {
    display: flex;
    justify-content: space-between;
    flex: auto;
    flex-wrap: wrap;
}